@charset "utf-8";

body {
	background-color: #e5ece4;
}

header {
	width: auto;
	margin-top: 20px;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	width: 60px;
	height: 48px;
	margin-bottom: 20px;
}

header h1 {
	font-family: 'Cinzel', serif;
	display: inline;
	vertical-align: top;
}

.motto {
	width: 280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: ivory;
	margin-left: 86px;
	margin-top: -45px;
	margin-bottom: 45px;
	text-shadow: 1px 1px 3px #000;
}

nav {
	background-color: #c5d3c4;
	margin-top: -15px;
}


nav ul {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	}

.preston {
	background-color: #aebfac;
}

nav li {
	display: none;
}

nav li a:link, a:visited {
	text-decoration: none;
	color: ivory;
	}

a:hover {
	text-decoration: none;
	text-shadow: 2px 2px 2px #fff;
}

a:active {
	text-decoration: none;
}

#town img {
	display: block;
	margin: auto;
}

#town h1 {
	font-family: 'Cinzel', serif;
	font-size: 36px;
	text-align: center;
	letter-spacing: 2px;
}

.wxsummary {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	text-align: center;
	color: #fff;
}

.wxsummary h2 {
	display: inline;
	position: absolute;
	top: 4px;
	left: 16px;
}

.wxsummary img {
	width: 100%;
	height: auto;
}

.wxsummary table {
	padding: 10px;
	display: inline;
	position: absolute;
	text-align: right;
	top: 35px;
	left: 10px;
	width: 210px;
	border-style: double;
	margin: 30px;
	background-color: rgba(0, 0, 0, .5);
	}

.fivedayoutlook {
	display: none;
}

.mainarticle {
	font-family: 'Montserrat', sans-serif;
}

.mainarticle img {
	display: inline-block;
	width: 95%;
	height: auto;
	margin-left: 15px;
	margin-right: auto;
	box-shadow: 3px 3px 6px #999;
}

.mainarticle h2 {
	
	margin-left: 15px;
}

.mainarticle p {
	margin-left: 15px;
}

.mainarticle a {
	color: blue;
}

.contact {
	font-family: 'Montserrat', sans-serif;
	margin-left: 15px;
}

.contact li {
	display: inline-block;
	margin-right: 20px;
	padding: 8px;
	}

.contact img {
	width: 40px;
	height: auto;
}

footer {
	font-family: 'Montserrat', sans-serif;
	margin-left: 15px;
}
