@import url('https://fonts.googleapis.com/css?family=Bangers');

/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 900px;
  margin: 0 auto;
	background-color: #ccc;
}

h1, h2 {
  font-family: 'Bangers', cursive;
	text-shadow: 4px 4px 4px #777;
	letter-spacing: 10px;
	color: red;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  margin-bottom: 10px;
	color: #555;
}